@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-Regular.ttf);
}

body {
    font-size: 14px;
    font-family: OpenSans;
    color: hsl(208, 11%, 55%);
}

h1,
h2 {
    font-family: Poppins;
    color: hsl(192, 100%, 9%);
}

header {
    background-image: url(./images/bg-hero-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    background-color: hsl(193, 100%, 96%);
}

.align {
    text-align: center;
}

.btn {
    height: 35px;
    width: 100%;
    border-color: transparent;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 0px rgba(128, 128, 128, 0.5);
    font-family: Poppins;
    font-size: smaller;
}

.text-article {
    margin-left: 0px;
}

#article {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 765px) {
    header {
        background-image: url(./images/bg-hero-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        background-color: hsl(193, 100%, 96%);
    }

    .align {
        text-align: left;
    }

    .btn {
        height: 40px;
        font-size: medium;
    }

    #article {
        margin-top: 110px;
        margin-bottom: 110px;
    }

    .text-article {
        margin-left: 50px;
    }
}


#mockups {}

.img-responsive {
    max-width: 100%;
    height: auto;
}



.btn-white {
    color: hsl(192, 100%, 9%);
    background-color: white;
}

.btn-pink {
    color: hsl(193, 100%, 96%);
    background-color: hsl(322, 100%, 66%);
}

.mb-2 {
    margin-bottom: 50px;
}

.mt-1 {
    margin-top: 20px;
}

.mt-2 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 20px;
}



.head-text p {
    color: hsl(192, 100%, 9%);
}

.head-text {
    margin-bottom: 50px;
}

article {
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 10px 0px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    min-height: 385px;
}

footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
    margin-top: 200px;
    position: relative;
    padding: 30px;
    text-align: left;
}

.first-column {
    margin-right: 0px;
}

@media only screen and (min-width: 765px) {
    footer {
        padding-left: 100px;
        padding-right: 100px;
    }

    .first-column {
        margin-right: 15px;
    }
}

.ready {
    position: absolute;
    top: -27%;
    background-color: white;
    box-shadow: 2px 2px 10px 0px rgba(128, 128, 128, 0.5);
    border-radius: 15px;
    padding: 30px;
}

.ready-container {
    height: 65px;
}

.logo-brands {
    text-align: center;
    font-size: 25px;

}

.logo-brands span {
    margin-left: 3px;
    margin-right: 3px;
}

.fontawesome-footer {
    margin-top: 1em;
}
